{% extends 'YDIBackendBundle::layout.html.twig' %}

{% block nav %}
    <nav>
        <ul class="nav nav-justified">
            <li><a href="{{ path('backend_home')}}">Inicio</a></li>  
            <!--li><a href="{{ path('backend_upload_initial')}}">Carga inicial</a></li-->
            <li><a href="{{asset('uploads/apks/app-debug.apk')}}" target="_blank">APK download</a></li>
            <li class="active"><a href="{{ path('backend_upload_updates')}}">Actualizaciones</a></li>
            <li><a href="{{ path('backend_upload_images')}}">Imagenes</a></li>
            <li><a href="{{ path('backend_logout')}}">Salir</a></li>
        </ul>
    </nav>
{% endblock %}  

{% block stylesheets %}
    {{ parent() }}
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{asset('css/jquery.fileupload.css')}}">
{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Subir archivos actualizaciones</h1>
        <p class="lead">Subir los archivos de actualizaciones.</p>
    </div>
    <div class="row">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]" multiple>
        </span>
        <br>
        <br>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Tabla</td>
                    <td>Registros</td>
                    <td>Accion</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
            {% for carga in cargas %}
                <tr class="tabla-registros {{carga}}-tabla-registros" data-tabla="{{carga}}">
                    <td class="tabla">{{carga}}</td>
                    <td class="registros">0</td>
                    <td class="acciones">
                        <button class="button-action btn btn-success" data-loading-text="Loading..." data-url="{{path('backend_load_updates',{'index':loop.index})}}">
                            Cargar
                        </button>
                    </td>
                    <td class="status">
                        <label class="label label-warning">En espera</label>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            {% if cargas|length > 1 %}
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <button class="button-action-all btn btn-success" data-loading-text="Loading..." data-url="{{path('backend_load_updates')}}">
                            Cargar todos.
                        </button>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
        <div class="text-center">
            <button class="button-action-notificacion-general btn btn-success" data-loading-text="Loading..." data-url="{{path('backend_notificacion_general')}}">
                Enviar notificaciones
            </button>
            <a class="button-action-resetear-bd btn btn-success" href="#modalUser" role="button" data-toggle="modal" data-url="{{path('backend_notificacion_resetear_bd')}}">
                Enviar notificacion resetear BD
            </a>    
        </div>
        <div class="resultados"></div>
    </div>
    <!-- Modal -->
    <div id="modalUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Ingresa el email</h4>
                    </div>
                    <div class="modal-body modal-body-form-user">
                        <form onsubmit="return false;" id="formUser" class="form" 
                             method="post" novalidate="novalidate" role="form" action="{{path('backend_notificacion_resetear_bd')}}">
                            <label class="control-label" for="email">Email: </label>
                            <div class="col-md-6 input-group">
                                <span class="input-group-addon">@</span>
                                <input type="email" name="email" id="user_email" class="form-control" placeholder="Ingresa el email">
                            </div>
                        </form>
                    </div><!-- End of Modal body -->
                    <div class="modal-footer">
                        <button id="botonEnviarResetearDB" type="button" value="Enviar" class="btn btn-lg btn-custom pull-right">Enviar notificacion</button>
                    </div>
                </div><!-- End of Modal content -->
            </div><!-- End of Modal dialog -->
        </div><!-- End of Modal -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{{asset('js/vendor/jquery.ui.widget.js')}}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{asset('js/jquery.iframe-transport.js')}}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{asset('js/jquery.fileupload.js')}}"></script>
    <script>
        function validarEmail(id,sError) {
            var $cadena = $("#" + id);
            var $parent = $cadena.parent().parent();
            var expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var valor = $cadena.val();
            if (expr.test(valor)){
                $parent.find('p').remove();
                $parent.removeClass('has-error').addClass('has-success');
                $cadena.parent().find('span.form-control-feedback').remove();
                setTimeout(function(){
                    $cadena.parent().append('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
                },500);
                return true;
            }else{
                var $error = $("<p>");
                $error.addClass('error').html(sError)
                $parent.find('p').remove();
                $parent.removeClass('has-success').addClass('has-error');
                $cadena.parent().find('span.form-control-feedback').remove();
                setTimeout(function(){
                    $parent.append($error);
                    $cadena.parent().append('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
                },500);
                return false;
            }
        }
        
        function validarFormularioUser(){
            if(!validarEmail('user_email','Ingrese el email')){
                return false;
            }else{
                return true;
            }
        }
        
    /*jslint unparam: true */
    /*global window, $ */
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url =  '{{ path('backend_upload_updates') }}';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(xls)$/i,
            maxFileSize: 999000,
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('<p/>').text(file.name).appendTo('#files');
                });
                location.href = '{{ path('backend_upload_updates') }}';
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
                if(progress == 100){
                   setTimeout(function(){
                       location.href = '{{ path('backend_upload_updates') }}';
                   },1000);
                }
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
        
        $(".button-action-notificacion-general").on("click",function(e){
            var url = $(this).data('url');
            var $btn = $(this).button('loading');
            $.ajax({
                url: url,
                type:'post',
                dataType: 'json',
                data:{}
            }).done(function(data){
                $btn.button('reset');
                debugger;
                if(data.motivo){
                    $(".resultados").html("<p>Enviar notificaciones generales: " + data.estatus + "<br/> Detalle: " + data.motivo + "</p>");
                }else{
                    $(".resultados").html("<p>Enviar notificaciones generales: " + data.estatus +  "</p>");
                }
            }).fail(function(data){
               $btn.button('reset');
               console.log(data);
               alert("Error de carga");
            });
        });    

        $("#botonEnviarResetearDB").on("click",function(e){
            e.preventDefault();
            if(!validarFormularioUser()){
                return ;
            }
            var $form = $("#formUser");
            var datos = $form.serialize();
            var $btn = $(this).button('Enviando...');
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                dataType: 'json',
                data: datos,
                success: function (data) {
                    if(data.estatus === 'error'){
                        $(".resultados").html("<p> Error: " + data.motivo +  "</p>");
                        $form.before('<p class="alert alert-danger">Enviar notificacion de resetear BD: ' + data.estatus + '<br/> Detalle: ' + data.motivo + '</p>');
                    }else{
                        $(".resultados").html("<p> Exito: " + data.motivo +  "</p>");
                        $form.before('<p class="alert alert-success">Enviar notificacion de resetear BD: ' + data.estatus + '<br/> Detalle: ' + data.motivo + '</p>');
                        $('#user_email').val('');
                    }
                    setTimeout(function () {
                            $(".alert-success").fadeOut('fast');
                            $(".alert-danger").fadeOut('fast');
                            $("#modalUser").modal('hide');
                            $btn.button('reset');
                    }, 3000);
                    console.log(data);
                },
                error: function (data) {
                    alert("Error al enviar el formulario");
                    console.log(data.responseText);
                    alert(data.responseText);
                }
            });
        });
        
        $(".tabla-registros .button-action").on("click",function(e){
            var url = $(this).data('url');
            var $parent = $(this).parent().parent();
            $parent.find('.registros').html('0');
            $parent.find('.status').html('<label class="label label-warning">En espera</label>');
            var $btn = $(this).button('loading');
            $.ajax({
                url: url,
                type:'post',
                dataType: 'json',
                data:{}
            }).done(function(data){
                $btn.button('reset');
                debugger;
                var tabla = data[0];
                console.log(tabla);
                var target = $("."+tabla.tabla + "-tabla-registros");
                var mensaje = "";
                if(tabla.error){
                    mensaje = "Error :" + tabla.error;
                    alert(mensaje);
                }else{
                    mensaje = "OK tabla: " + tabla.tabla + " fue cargarda. Registros: "+ tabla.registros;
                    alert(mensaje);
                }
                if(target){
                    target.find('.registros').html(mensaje);
                    target.find('.status').html('<label class="label label-primary">Procesado</label>');
                }else{
                    $(".resultados").html("<p>" + mensaje +  "</p>")
                }
            }).fail(function(data){
               $btn.button('reset');
               console.log(data);
               alert("Error de carga");
              
            });
        });
        
        $(".button-action-all").on("click",function(e){
            var url = $(this).data('url');
            $('.registros').html("0");
            $('.status').html('<label class="label label-warning">En espera</label>');
            var $btn = $(this).button('loading');
            $.ajax({
                url: url,
                type:'post',
                dataType: 'json',
                data:{}
            }).done(function(data){
                $btn.button('reset');
                debugger;
                var index  = 0;
                console.log(JSON.stringify(data));
                var target = null;
                var mensaje = "";
                for(index in data){
                    var mensaje = "";
                    if(data[index].error){
                        mensaje = "Error :" + data[index].error;
                        alert(mensaje);
                    }else{
                        mensaje = "OK tabla: " + data[index].tabla + " fue cargarda. Registros: "+ data[index].registros;
                        alert(mensaje);
                    }
                    target = $("."+data[index].tabla + "-tabla-registros");
                    if(target){
                        target.find('.registros').html(mensaje);
                        target.find('.status').html('<label class="label label-primary">Procesado</label>');
                    }else{
                        $(".resultados").html("<p>" + mensaje +  "</p>")
                    }
                }
            }).fail(function(data){
               $btn.button('reset');
               console.log(data);
               alert("Error de carga");
            });
        });
    });
    </script>
{% endblock %}

