{% extends 'YDIBackendBundle::layout.html.twig' %}

{% block nav %}
    <nav>
        <ul class="nav nav-justified">
            <li><a href="{{ path('backend_home')}}">Inicio</a></li>  
            <!--li><a href="{{ path('backend_upload_initial')}}">Carga inicial</a></li-->
            <li><a href="{{asset('uploads/apks/app-debug.apk')}}" target="_blank">APK download</a></li>
            <li><a href="{{ path('backend_upload_updates')}}">Actualizaciones</a></li>
            <li class="active"><a href="{{ path('backend_upload_images')}}">Imagenes</a></li>
            <li><a href="{{ path('backend_logout')}}">Salir</a></li>
        </ul>
    </nav>
{% endblock %}  

{% block stylesheets %}
    {{ parent() }}
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{asset('css/jquery.fileupload.css')}}">
    <link rel="stylesheet" href="{{asset('css/jquery.fileupload-ui.css')}}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
{% endblock %}    

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Subir imagenes de anuncios</h1>
        <p class="lead">Subir las imagenes de anuncios.</p>
    </div>
    <div class="row">
        <form method="post" id="formulario" enctype="multipart/form-data">
            Subir imagenes: <input type="file" id="file" name="file[]"  class="btn btn-default" multiple>
            <button type="button" id="btn" class="btn btn-default">Subir im치genes</button>
         </form>
        <ul id="vista-previa"></ul>
        <div id="respuesta"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- The basic File Upload plugin -->
    <script src="{{asset('js/jquery.fileupload.js')}}"></script>
    <script>
     $(function(){   
       $("#file").on("change", function(){
           /* Limpiar vista previa */
           $("#vista-previa").html('');
           var archivos = document.getElementById('file').files;
           var navegador = window.URL || window.webkitURL;
           /* Recorrer los archivos */
           for(x=0; x<archivos.length; x++)
           {
               /* Validar tama침o y tipo de archivo */
               var size = archivos[x].size;
               var type = archivos[x].type;
               var name = archivos[x].name;
               if (size > 1024*1024)
               {
                   $("#vista-previa").append("<p style='color: red'>El archivo "+name+" supera el m치ximo permitido 1MB</p>");
               }
               else if(type != 'image/jpeg' && type != 'image/jpg' && type != 'image/png' && type != 'image/gif')
               {
                   $("#vista-previa").append("<p style='color: red'>El archivo "+name+" no es del tipo de imagen permitida.</p>");
               }
               else
               {
                 var objeto_url = navegador.createObjectURL(archivos[x]);
                 $p = $("<p>").html("Tama침o de archivo: " + formatFileSize(file.size));
                 $img = $("<img>").attr({'src': objeto_url}).css({'maxHeight': '250px', 'maxWidth': '250px'});
                 $li = $("<li>").append($img).css({'margin': '10px', 'list-style': 'none'}).append($p);
                 $("#vista-previa").append($li);
               }
           }
       });
       
       $("#btn").on("click", function(){
            var formData = new FormData($("#formulario")[0]);
            var ruta = '{{ path('backend_upload_images') }}';
            $.ajax({
                url: ruta,
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function(datos)
                {
                    console.log(datos);
                    $("#respuesta").html(datos.length +  " archivos cargados.");
                }
            });
           });
       
     });
    </script>
{% endblock %}

