<!DOCTYPE html>
<html class="html" lang="es-ES">
    <head>

        <script type="text/javascript">
            if (typeof Muse == "undefined")
                window.Muse = {};
            window.Muse.assets = {"required": ["jquery-1.8.3.min.js", "museutils.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "index.css"], "outOfDate": []};
        </script>

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta name="generator" content="2015.0.2.310"/>
        <title>Inicio</title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{asset('css/site_global.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/master_a-p_g_-maestra.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/index.css')}}" id="pagesheet"/>
        <!-- Other scripts -->
        <script type="text/javascript">
            document.documentElement.className += ' js';
        </script>
    </head>
    <body>

        <div class="clearfix" id="page"><!-- column -->
            <div class="position_content" id="page_position_content">
                <div class="clearfix colelem" id="ppu862"><!-- group -->
                    <div class="clearfix grpelem" id="pu862"><!-- group -->
                        <div class="clearfix grpelem" id="u862"><!-- group -->
                            <div class="clip_frame grpelem" id="u324"><!-- image -->
                                <img class="block" id="u324_img" src="{{asset('images/penta.png')}}" alt="" width="174" height="176"/>
                            </div>
                        </div>
                        <div class="shadow clearfix grpelem" id="u399-3"><!-- content -->
                            <p>&nbsp;</p>
                        </div>
                        <div class="clip_frame grpelem" id="u354"><!-- image -->
                            <img class="block" id="u354_img" src="{{asset('images/appstore_button_google.png')}}" alt="" width="119" height="37"/>
                        </div>
                    </div>
                    <div class="SlideShowWidget clearfix grpelem" id="slideshowu561"><!-- none box -->
                        <div class="popup_anchor" id="u568popup">
                            <div class="SlideShowContentPanel clearfix" id="u568"><!-- stack box -->
                                <div class="SSSlide clip_frame grpelem" id="u784"><!-- image -->
                                    <img class="ImageInclude" id="u784_img" data-src="{{asset('images/road2.jpg')}}" src="{{asset('images/blank.gif')}}" alt="" data-width="1224" data-height="816"/>
                                </div>
                                <div class="SSSlide invi clip_frame grpelem" id="u754"><!-- image -->
                                    <img class="ImageInclude" id="u754_img" data-src="{{asset('images/road.jpg')}}" src="{{asset('images/blank.gif')}}" alt="" data-width="1224" data-height="816"/>
                                </div>
                                <div class="SSSlide invi clip_frame grpelem" id="u845"><!-- image -->
                                    <img class="ImageInclude" id="u845_img" data-src="{{asset('images/road3.jpg')}}" src="{{asset('images/blank.gif')}}" alt="" data-width="1224" data-height="816"/>
                                </div>
                            </div>
                        </div>
                        <div class="popup_anchor" id="u563-4popup">
                            <div class="SSPreviousButton clearfix" id="u563-4"><!-- content -->
                                <p><span id="u563">&lt;</span></p>
                            </div>
                        </div>
                        <div class="popup_anchor" id="u585-4popup">
                            <div class="SSNextButton clearfix" id="u585-4"><!-- content -->
                                <p>&gt;</p>
                            </div>
                        </div>
                        <div class="popup_anchor" id="u586-4popup">
                            <div class="SlideShowLabel SSSlideCount clearfix" id="u586-4"><!-- content -->
                                <p><span id="u586">3 - 3</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="clip_frame grpelem" id="u330"><!-- image -->
                        <img class="block" id="u330_img" src="{{asset('images/ydi_final_2.png')}}" alt="" width="153" height="143"/>
                    </div>
                </div>
                <div class="browser_width colelem" id="u401-bw">
                    <div class="shadow" id="u401"><!-- group -->
                        <div class="clearfix" id="u401_align_to_page">
                            <div class="clip_frame grpelem" id="u951"><!-- image -->
                                <img class="block" id="u951_img" src="{{asset('images/botones.png')}}" alt="" width="284" height="84"/>
                            </div>
                            <div class="clip_frame grpelem" id="u402"><!-- image -->
                                <img class="block" id="u402_img" src="{{asset('images/you_deserve.png')}}" alt="" width="326" height="61"/>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="colelem" id="u709-4" alt="¿SABES APROVECHAR LAS OPORTUNIDADES?" width="771" height="53" src="{{asset('images/u709-4.png')}}"/><!-- rasterized frame -->
                <div class="clearfix colelem" id="ppu854"><!-- group -->
                    <div class="grpelem" id="pu854"><!-- inclusion -->
                        <div id="u854"><!-- simple frame --></div>
                        <div class="clearfix" id="pu711-6"><!-- group -->
                            <img class="grpelem" id="u711-6" alt="&nbsp;ydi ENVÍA NOTIFICACIONES A TU TELÉFONO PARA QUE ESTÉS ENTERADO DE LAS TIENDAS QUE TIENEN OFERTAS ESPECIALES EN EL LUGAR EN EL QUE ESTÁS" width="532" height="146" src="{{asset('images/u711-6.png')}}"/><!-- rasterized frame -->
                        </div>
                    </div>
                    <div class="clip_frame grpelem" id="u856"><!-- image -->
                        <img class="block" id="u856_img" src="{{asset('images/cactus.jpg')}}" alt="" width="1224" height="816"/>
                    </div>
                    <div class="browser_width grpelem" id="u640-bw">
                        <div id="u640"><!-- simple frame --></div>
                    </div>
                    <img class="grpelem" id="u710-5" alt="LOS BENEFICIOS DE TU TARJETA DE CRÉDITO NO LOS UTILIZAS PORQUE OLVIDAS CUÁL, DÓNDE Y CUÁNDO ERA LA PROMOCIÓN " width="412" height="258" src="{{asset('images/u710-5.png')}}"/><!-- rasterized frame -->
                    <img class="grpelem" id="u400-6" alt="&nbsp;ydi ES LA APLICACIÓN QUE TE AYUDA A ENCONTRAR EN UN SOLO LUGAR TODAS LAS PROMOCIONES QUE OFRECEN TUS TARJETAS DE CRÉDITO, TE AYUDA A ENCONTRAR DESCUENTOS, OFERTAS, LUGARES NUEVOS Y SOBRETODO A SACAR EL MEJOR PROVECHO DE ALGO QUE YA ES TUYO." width="638" height="189" src="{{asset('images/u400-6.png')}}"/><!-- rasterized frame -->
                    <div class="clip_frame grpelem" id="u602"><!-- image -->
                        <img class="block" id="u602_img" src="{{asset('images/1024px-starbucks_coffee_logosvg.png')}}" alt="" width="110" height="110"/>
                    </div>
                    <div class="clip_frame grpelem" id="u604"><!-- image -->
                        <img class="block" id="u604_img" src="{{asset('images/1425763040-sanborns.png')}}" alt="" width="182" height="79"/>
                    </div>
                    <div class="clip_frame grpelem" id="u606"><!-- image -->
                        <img class="block" id="u606_img" src="{{asset('images/cinepolis-02.png')}}" alt="" width="197" height="77"/>
                    </div>
                    <div class="clip_frame grpelem" id="u814"><!-- image -->
                        <img class="block" id="u814_img" src="{{asset('images/cinepolis-02.png')}}" alt="" width="197" height="77"/>
                    </div>
                    <div class="clip_frame grpelem" id="u608"><!-- image -->
                        <img class="block" id="u608_img" src="{{asset('images/american-express-copy.png')}}" alt="" width="138" height="91"/>
                    </div>
                    <div class="clip_frame grpelem" id="u610"><!-- image -->
                        <img class="block" id="u610_img" src="{{asset('images/nike-logo-pngimgs-for-red-nike-logo-png-nlhidhd9.jpg')}}" alt="" width="138" height="77"/>
                    </div>
                    <div class="clip_frame grpelem" id="u404"><!-- image -->
                        <img class="block" id="u404_img" src="{{asset('images/avion.png')}}" alt="" width="184" height="184"/>
                    </div>
                    <div class="clip_frame grpelem" id="u703"><!-- image -->
                        <img class="block" id="u703_img" src="{{asset('images/oro_mcgif.png')}}" alt="" width="126" height="79"/>
                    </div>
                    <div class="clip_frame grpelem" id="u901"><!-- image -->
                        <img class="block" id="u901_img" src="{{asset('images/unknown.jpg')}}" alt="" width="91" height="114"/>
                    </div>
                </div>
                <div class="clearfix colelem" id="ppu915"><!-- group -->
                    <div class="grpelem" id="pu915"><!-- inclusion -->
                        <div id="u915"><!-- simple frame --></div>
                        <div class="clearfix" id="pu866"><!-- group -->
                            <div class="clip_frame grpelem" id="u866"><!-- image -->
                                <img class="block" id="u866_img" src="{{asset('images/a_rapidos_n_o.png')}}" alt="" width="192" height="192"/>
                            </div>
                        </div>
                    </div>
                    <img class="grpelem" id="u872-6" alt="ANUNCIOS RÁPIDOS
                         MÁS OFERTAS PARA APROVECHAR AL MÁXIMO" width="566" height="177" src="{{asset('images/u872-6.png')}}"/><!-- rasterized frame -->
                    <img class="grpelem" id="u836-6" alt="&nbsp;ydi TIENE OFERTAS ESPECIALES QUE PUEDES COMPARTIR. TIENE PREMIOS PARA QUE HAGAS VÁLIDAS TUS PROMOCIONES Y SOBRETODO TE AVISA CUANDO HAY NUEVAS OPORTUNIDADES" width="595" height="131" src="{{asset('images/u836-6.png')}}"/><!-- rasterized frame -->
                    <div class="clearfix grpelem" id="u837-3"><!-- content -->
                        <p>&nbsp;</p>
                    </div>
                    <div class="clip_frame grpelem" id="u887"><!-- image -->
                        <img class="block" id="u887_img" src="{{asset('images/anuncios_rapidos.png')}}" alt="" width="307" height="434"/>
                    </div>
                </div>
                <div class="clearfix colelem" id="ppu942"><!-- group -->
                    <div class="grpelem" id="pu942"><!-- inclusion -->
                        <div id="u942"><!-- simple frame --></div>
                        <div class="clearfix" id="pu899-6"><!-- group -->
                            <img class="grpelem" id="u899-6" alt="MIS PUNTOS
                                 PUEDES IR ACUMULANDO RECOMPENSAS AL UTILIZAR LA APLICACIÓN PARA CANJEARLOS POR LO QUE MÁS TE GUSTE" width="538" height="250" src="{{asset('images/u899-6.png')}}"/><!-- rasterized frame -->
                        </div>
                    </div>
                    <img class="grpelem" id="u885-8" alt="ANUNCIOS
                         DE LA VISTA NACE EL AMOR, Y LAS OPORTUNIDADES" width="566" height="250" src="{{asset('images/u885-8.png')}}"/><!-- rasterized frame -->
                    <div class="clip_frame grpelem" id="u879"><!-- image -->
                        <img class="block" id="u879_img" src="{{asset('images/anuncios_v_o.png')}}" alt="" width="192" height="192"/>
                    </div>
                    <div class="grpelem" id="u914"><!-- simple frame --></div>
                    <div class="clip_frame grpelem" id="u945"><!-- image -->
                        <img class="block" id="u945_img" src="{{asset('images/mis_puntos_o.png')}}" alt="" width="192" height="192"/>
                    </div>
                    <div class="clip_frame grpelem" id="u876"><!-- image -->
                        <img class="block" id="u876_img" src="{{asset('images/8.png')}}" alt="" width="341" height="483"/>
                    </div>
                </div>
                <div class="clearfix colelem" id="pu943"><!-- group -->
                    <div class="browser_width grpelem" id="u943-bw">
                        <div id="u943"><!-- simple frame --></div>
                    </div>
                    <img class="grpelem" id="u907-7" alt="LUGARES ¿ESTÁS EN ALGUNA PLAZA O EN UN LUGAR NUEVO Y QUIERES APROVECHAR TU TIEMPO? LA APLICACIÓN TE DA SUGERENCIAS" width="782" height="250" src="{{asset('images/u907-7.png')}}"/><!-- rasterized frame -->
                    <div class="clip_frame grpelem" id="u908"><!-- image -->
                        <img class="block" id="u908_img" src="{{asset('images/lugares_1_o.png')}}" alt="" width="192" height="192"/>
                    </div>
                </div>
                <div class="verticalspacer"></div>
                <div class="clearfix colelem" id="pu799"><!-- group -->
                    <div class="clip_frame grpelem" id="u799"><!-- image -->
                        <img class="block" id="u799_img" src="{{asset('images/2000px-mastercard_logosvg.png')}}" alt="" width="158" height="95"/>
                    </div>
                    <div class="clip_frame grpelem" id="u808"><!-- image -->
                        <img class="block" id="u808_img" src="{{asset('images/ofrece-mul_1358510618944.png')}}" alt="" width="191" height="86"/>
                    </div>
                    <div class="clip_frame grpelem" id="u823"><!-- image -->
                        <img class="block" id="u823_img" src="{{asset('images/unknown-1.jpg')}}" alt="" width="239" height="82"/>
                    </div>
                </div>
                <div class="browser_width colelem" id="u835-bw">
                    <div id="u835"><!-- simple frame --></div>
                </div>
                <div class="browser_width colelem" id="u937-bw">
                    <div id="u937"><!-- group -->
                        <div class="clearfix" id="u937_align_to_page">
                            <div class="clip_frame grpelem" id="u934"><!-- image -->
                                <img class="block" id="u934_img" src="{{asset('images/ydi_final_2.png')}}" alt="" width="200" height="194"/>
                            </div>
                            <img class="grpelem" id="u938-10" alt="Nuestras oficinas se encuentran en: Pilares 60. Esquina con Rafael Alducin. Col. Del Valle. Tel. 5575 9492 / 5575 1006
                                 " width="489" height="129" src="{{asset('images/u938-10.png')}}"/><!-- rasterized frame -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JS includes -->
        <script type="text/javascript">
            if (document.location.protocol != 'https:')
                document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
        </script>
        <script type="text/javascript">
            window.jQuery || document.write('\x3Cscript src="js/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
        </script>
        <script src="{{asset('js/museutils.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/webpro.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/musewpslideshow.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/jquery.museoverlay.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/touchswipe.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/jquery.watch.js')}}" type="text/javascript"></script>
        <!-- Other scripts -->
        <script type="text/javascript">
            $(document).ready(function () {
                try {
                    (function () {
                        var a = {}, b = function (a) {
                            if (a.match(/^rgb/))
                                return a = a.replace(/\s+/g, "").match(/([\d\,]+)/gi)[0].split(","), (parseInt(a[0]) << 16) + (parseInt(a[1]) << 8) + parseInt(a[2]);
                            if (a.match(/^\#/))
                                return parseInt(a.substr(1), 16);
                            return 0
                        };
                        (function () {
                            $('link[type="text/css"]').each(function () {
                                var b = ($(this).attr("href") || "").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);
                                b && b[1] && b[2] && (a[b[1]] = b[2])
                            })
                        })();
                        (function () {
                            $("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
                            for (var c = $(".version"), d = 0; d < Muse.assets.required.length; ) {
                                var f = Muse.assets.required[d], g = f.match(/([\w\-\.]+)\.(\w+)$/), k = g && g[1] ? g[1] : null, g = g && g[2] ? g[2] : null;
                                switch (g.toLowerCase()) {
                                    case "css":
                                        k = k.replace(/\W/gi, "_").replace(/^([^a-z])/gi, "_$1");
                                        c.addClass(k);
                                        var g = b(c.css("color")), h = b(c.css("background-color"));
                                        g != 0 || h != 0 ? (Muse.assets.required.splice(d, 1), "undefined" != typeof a[f] && (g != a[f] >>> 24 || h != (a[f] & 16777215)) && Muse.assets.outOfDate.push(f)) : d++;
                                        c.removeClass(k);
                                        break;
                                    case "js":
                                        k.match(/^jquery-[\d\.]+/gi) &&
                                                typeof $ != "undefined" ? Muse.assets.required.splice(d, 1) : d++;
                                        break;
                                    default:
                                        throw Error("Unsupported file type: " + g);
                                    }
                            }
                            c.remove();
                            if (Muse.assets.outOfDate.length || Muse.assets.required.length)
                                c = "Puede que determinados archivos falten en el servidor o sean incorrectos. Limpie la cache del navegador e inténtelo de nuevo. Si el problema persiste, póngase en contacto con el administrador del sitio web.", (d = location && location.search && location.search.match && location.search.match(/muse_debug/gi)) && Muse.assets.outOfDate.length && (c += "\nOut of date: " + Muse.assets.outOfDate.join(",")), d && Muse.assets.required.length && (c += "\nMissing: " + Muse.assets.required.join(",")), alert(c)
                        })()
                    })();
                    /* body */
                    Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
                    Muse.Utils.prepHyperlinks(true);/* body */
                    Muse.Utils.initWidget('#slideshowu561', function (elem) {
                        $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {heroFitting: 'fillFrameProportionally', autoPlay: true, displayInterval: 3500, slideLinkStopsSlideShow: false, transitionStyle: 'horizontal', lightboxEnabled_runtime: false, shuffle: false, transitionDuration: 500, enableSwipe: true, elastic: 'fullWidth', resumeAutoplay: true, resumeAutoplayInterval: 3000, playOnce: false, autoActivate_runtime: false}));
                    });/* #slideshowu561 */
                    Muse.Utils.resizeHeight()/* resize height */
                    Muse.Utils.fullPage('#page');/* 100% height page */
                    Muse.Utils.showWidgetsWhenReady();/* body */
                    Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
                } catch (e) {
                    if (e && 'function' == typeof e.notify)
                        e.notify();
                    else
                        Muse.Assert.fail('Error calling selector function:' + e);
                }
            });
        </script>
    </body>
</html>

