{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- The justified navigation menu is meant for single line per list item.
             Multiple lines will require custom code not provided by Bootstrap. -->
        <div class="masthead">
            <h3 class="text-muted">Pirelli: {{app.user}}</h3>
            {% block nav %}
                <nav>
                    <ul class="nav nav-justified">
                        <li><a class="active" href="{{ path('backend_home')}}">Inicio</a></li>  
                        <li><a href="{{ path('backend_upload_initial')}}">Carga actualizaciones</a></li>
                        <li><a href="{{ path('backend_upload_images')}}">Imagenes</a></li>
                        <li><a href="{{ path('backend_logout')}}">Salir</a></li>
                    </ul>
                </nav>
            {% endblock %}  
        </div>

        {% block content %}
            <!-- Jumbotron -->
            <div class="jumbotron">
                <h1>Administrador de archivos</h1>
                <p class="lead">Bienvenido al administrador de archivos, favor de seleccionar la opcion deseada.</p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="col-lg-4">
                    <h2>Carga inicial</h2>
                    <p class="text-danger">Los datos completos de las tablas se reemplazaran o crearan si no existen.</p>
                    <p>Subir los archivos de carga inicial. </p>
                    <p><a class="btn btn-primary" href="{{ path('backend_upload_initial')}}" role="button">Carga inicial</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Cargar anuncios</h2>
                    <p> Crear, actualizar o eliminar anuncios.</p>
                    <p><a class="btn btn-primary" href="{{ path('backend_upload_notices')}}" role="button">Anuncios</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Cargar imagenes</h2>
                    <p>Subir imagenes para los anuncios.</p>
                    <p><a class="btn btn-primary" href="{{ path('backend_upload_images')}}" role="button">Imagenes</a></p>
                </div>
            </div>
        {% endblock %}  

        <!-- Site footer -->
        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div> <!-- /container -->

{% endblock %}    
